{% extends "::base.html.twig" %}

{% block title %}Map search{% endblock %}
{% block stylesheets %}     
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map {
            height: 80%;
        }
    </style> {% endblock %}

    {% block body %}
        <div id="map"></div>
        <input type="text" size="30em" id="searchInput" value=""/>
        <input type="button" id="searchButton" value="search" onclick="search('searchInput')"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="{{ asset('bundles/app/js/search.js') }}"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key={{ googleApiKey }}&callback=onLoad" async defer></script>
    {% endblock %}
